<div class="container">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <div class="navbar-collapse collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="btn btn-dark" routerLink="/orders" routerLinkActive="active">Pedidos</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-dark" routerLink="/products" routerLinkActive="active">Produtos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <header>
      
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
